/**
* @name JDM Background
* @version 1.0.0
* @description Cool looking jdm theme for better discord
* @author Seekz
* @invite crystalpvp
* @Source https://github.com/S33kz/JDM-better-discord-background/blob/main/JDM%20Background.theme.css/
* @website https://github.com/S33kz/JDM-better-discord-background/blob/main/JDM%20Background.theme.css
*/
@import url("https://DiscordStyles.github.io/DarkMatter/src/base.css");
:root {
--background-image: url('https://imgur.com/VfoAbHG.jpg');
--home-image: url('https://i.imgur.com/GZQPfvr.jpg');
--avatar-size: 32px;
--accent: 0,0,0;
--accent-alt: 0,0,0;
--background-solid: #161921;
--background-solid-dark: #101218;
--background-solid-darker: #0c0e12;
}